#main-div{
   margin-top: 1em;
}

#page-logo{
    color: red;
    text-align: center;
}

.images{
    width: 79em;
    height: 100vh;
}


#comments{
    margin-left: 1.5em;
    text-align: center;
}

.displays{
    border: solid, black;
    color: black;
    width: 17em;
    padding: 0.5em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
    position: absolute;
    top: 14em;
    left:32em;
}


@media screen and (min-width: 320px) and (max-width: 359px){
    
.images{
     width: 20em;
 }

.displays{
    left: 1.5em;
}

}




@media screen and (min-width: 360px) and (max-width: 374px){
    
.images{
        width: 22.4em;
    }

.displays{
    left: 2.9em;
}
}



@media screen and (min-width: 375px) and (max-width: 413px){
    
.images{
        width: 23.3em;
    }

.displays{
    left: 3.6em;
}
}


@media screen and (min-width: 414px) and (max-width: 436px){
    
.images{
        width: 25.7em;
    }

.displays{
    left: 5.2em;
}

}
